h1{
    text-align: center;
    color: #eb0909;
}
h3{
    text-align: center;
    color: blue;
}
body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
h2{
    text-align: center;
    color: brown;
}
h4{
    text-align: right;
}